@charset "UTF-8";

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/HelveticaNeueCyr-Light.eot");
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}



input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
  vertical-align: middle;
}

textarea {
  resize: none;
}

section {
  position: relative;
}

input,
select,
button {
  outline: none;
}

.form {
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation: rotate 1s ease;
  animation: rotate 1s ease;
}

.form__block {
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation: rotate_form__block 1s ease;
  animation: rotate_form__block 1s ease;
}

@keyframes rotate {
  0% {
    -webkit-transform: perspective(1000px) rotate3d(-10, 0, 0, 20deg);
    transform: perspective(1000px) rotate3d(-10, 0, 0, 20deg);
    opacity: .5;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: perspective(1000px) rotate3d(-10, 0, 0, 20deg);
    transform: perspective(1000px) rotate3d(-10, 0, 0, 20deg);
    opacity: .5;
  }
}


@keyframes rotate_form__block {
  0% {
    -webkit-transform: perspective(1000px) rotate3d(10, 0, 0, 60deg);
    transform: perspective(1000px) rotate3d(10, 0, 0, 60deg);
    opacity: .5;
  }
}

@-webkit-keyframes rotate_form__block {
  0% {
    -webkit-transform: perspective(1000px) rotate3d(10, 0, 0, 60deg);
    transform: perspective(1000px) rotate3d(10, 0, 0, 60deg);
    opacity: .5;
  }
}


.form__item--orange {
  -webkit-animation: left-top-center 1s ease-out;
  animation: left-top-center 1s ease-out;
}

@-webkit-keyframes left-top-center {
  0% {
    -webkit-transform: translate(-30px, -200px);
    transform: translate(-30px, -200px);
  }
}

@keyframes left-top-center {
  0% {
    -webkit-transform: translate(-30px, -200px);
    transform: translate(-30px, -200px);
  }
}


.form__item--purple {
  -webkit-animation: right-top-center 1s ease-out;
  animation: right-top-center 1s ease-out;
}

@-webkit-keyframes right-top-center {
  0% {
    -webkit-transform: translate(30px, -150px);
    transform: translate(30px, -150px);
  }
}

@keyframes right-top-center {
  0% {
    -webkit-transform: translate(30px, -150px);
    transform: translate(30px, -150px);
  }
}

.form__item--blue {
  -webkit-animation: left-bottom-center 1s ease-out;
  animation: left-bottom-center 1s ease-out;
}

@-webkit-keyframes left-bottom-center {
  0% {
    -webkit-transform: translate(-30px, -50px);
    transform: translate(-30px, -50px);
  }
}

@keyframes left-bottom-center {
  0% {
    -webkit-transform: translate(-30px, -50px);
    transform: translate(-30px, -50px);
  }
}

.form__item--green {
  -webkit-animation: right-bottom-center 1s ease-out;
  animation: right-bottom-center 1s ease-out;
}

@-webkit-keyframes right-bottom-center {
  0% {
    -webkit-transform: translate(40px, -350px);
    transform: translate(40px, -350px);
  }
}

@keyframes right-bottom-center {
  0% {
    -webkit-transform: translate(40px, -350px);
    transform: translate(40px, -350px);
  }
}

main {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  align-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  animation: fade 2s 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 0.5;
  }

  70% {
    opacity: 0.7;
  }

  80% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 0.5;
  }

  70% {
    opacity: 0.7;
  }

  80% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

/*  Форма
    ---------------------------------------------*/
.form {
  margin: auto;
  padding: 80px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  width: 720px;
  min-height: 840px;
  box-shadow: 1px 6px 65px rgba(0, 0, 0, 0.22);
  font-family: 'Helvetica';
  font-weight: 300;
  text-align: center;
}

.form__block {
  position: absolute;
  top: -100px;
  left: 36%;
  background-color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  box-shadow: 1px 6px 24px rgba(0, 0, 0, 0.07);
}

.form__inner {
  display: block;
  margin: 30px 60px;
  position: relative;
}

.form__item {
  display: block;
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 15px;
  mix-blend-mode: darken;
}

.form__item--orange {
  background-color: #f8911d;
}

.form__item--purple {
  top: 28px;
  right: 0;
  background-color: #d1369c;
}

.form__item--blue {
  top: 55px;
  left: 0;
  background-color: #3e9ffd;
}

.form__item--green {
  bottom: -138px;
  right: 0;
  background-color: #4ebf49;
}

.form__title {
  padding-top: 56px;
  font-family: 'Helvetica';
  font-weight: 300;
  font-size: 60px;
  text-transform: uppercase;
}

.form__subtitle {
  font-family: 'Helvetica';
  font-weight: 300;
  font-size: 30px;
  opacity: 0.5;
}

.form-login {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.form-login__input {
  margin-top: 40px;
  padding: 25px 22px;
  background-color: #fff;
  width: 100%;
  font-size: 32px;
  border: 2px solid #636363;
}

.form-login__input:focus {
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.39);
  border: 2px solid #3e9ffd;
}

.form-login__agreement {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 48px;
}

.form-login__checkbox {
  margin-right: 15px;
  width: 24px;
  height: 24px;
}

#checkbox {
  display: none;
}

#checkbox+label {
  display: block;
  width: 30px;
  height: 30px;
  background: #ccc;
  text-align: center;
  border-radius: 5px;
  margin-right: 15px;
  cursor: pointer;
}

#checkbox:checked+label {
  background-color: #3e9ffd;
}

#checkbox:checked+label:before {
  color: #fff;
  background-color: #3e9ffd;
  content: '✔';
  font-size: 20px;
  cursor: pointer;
}

.form-login__txt {
  font-size: 26px;
  color: #636363;
}

.form-login__btn {
  margin-top: 88px;
  padding: 25px 0;
  background-color: #3e9ffd;
  width: 100%;
  font-size: 32px;
  color: #fff;
  border: none;
}

.form-login__btn:hover {
  background-color: #3e4fda;
  cursor: pointer;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}